@font-face {
    font-family: 'Space Age';
    font-style: normal;
    font-weight: normal;
    src: local('Space Age'), url('space age.woff') format('woff');
}

h1 {
    font-family: 'Space Age';
    font-weight: 200;
    animation: neon1 1.5s ease-in-out infinite alternate;
    color: #fff;
    transition: all 0.5s;
}

h1:hover {
    color: #FF1177;
}
